body {
    background-image: url(https://thumbs.dreamstime.com/b/professional-people-team-business-persons-group-society-leadership-office-workers-crowd-vector-illustration-multicultural-153736282.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: bottom;
}
    
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 13px;
}

.button:hover {
    background-color: green;
}
    
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

header {
    background-color: #1d1d1f;
    color: #ccccde;
    text-align: center;
    padding: 6px;
    font-size: 20px;
}
